@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


.no-backtick::before,
.no-backtick::after {
  content: none;
}

.code-ide-font {
  font-family: 'Fira Code', Monaco, 'Courier New', monospace;
}


.no-top-border > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: 0;
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}


.my-custom-divider {
  --tw-divide-y-reverse: 1; /* Remove bottom border */
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

#smooth-scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#smooth-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}



