@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


.no-backtick::before,
.no-backtick::after {
  content: none;
}

.code-ide-font {
  font-family: 'Fira Code', Monaco, 'Courier New', monospace;
}
